@{
    Layout = null;
}

@{
    ViewBag.Title = "MobyDock";
}

<header></header>
<section>
    <img src="~/Content/img/mobydock.png" />
    <br />
    A Docker container life cycle management wep app.
</section>